@use "../variables/var.scss" as *;
@use "../layout/media.scss" as *;

.about {
  display: flex;
  min-height: 65vh;

  @include phones {
    flex-direction: column;
  }

  &__first {
    min-height: 75vh;
    position: relative;

    @include phones {
      min-height: 130vh;
    }
  }

  &__owner {
    min-height: 85vh;
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    &-backgroundColor {
      &--pink {
        background-color: $pink;
      }
      &--blue {
        background-color: $blue;
      }
      &--white {
        background-color: $white;
      }
      &--black {
        background-color: black;
      }
    }

    &-size {
      &--2 {
        flex: 2;
      }
      &--3 {
        flex: 3;
      }
    }

    &-flex--end {
      justify-content: flex-end;

      @include phones {
        justify-content: center;
      }
    }

    @include phones {
      &.story--mobile {
        background-color: $blue;
      }
    }
  }

  &__content {
    padding: 10% 25%;

    @include phones {
      padding: 10% 5%;
    }
  }

  &__title {
    font-size: 6rem;
    font-weight: bold;

    &-pos--rotate {
      writing-mode: vertical-lr;
      transform: rotate(180deg);

      @include phones {
        writing-mode: unset;
        transform: none;
      }
    }

    &-size--smaller {
      font-size: 3rem;
      margin-bottom: 10%;
    }

    &-pos--moved {
      margin-right: -7%;

      @include phones {
        margin-right: 0;
        font-size: 4rem;
      }
    }
  }

  &__text {
    font-size: 1.1rem;
    line-height: 2rem;
    margin-bottom: 5%;

    &:last-of-type {
      margin-bottom: 0;
    }

    @include phones {
      font-size: 1.7rem;
      line-height: 2.8rem;
    }

    &-color {
      &--white {
        color: $white;
      }
    }

    &__first {
      font-size: 2.4rem;
      padding: 0 20%;
    }
  }

  &__img {
    flex: 1;
    background-size: contain;
    background-attachment: fixed;

    @include phones {
      background-attachment: unset;
    }

    &__first {
      background-image: url(../img/paris-fashion-week-1-1.jpg);
      background-position: 140%;

      @include phones {
        flex: none;
        height: 70vh;
        background-size: cover;
        background-position: 50%;
      }
    }

    &__second {
      background-image: url(../img/475315019.jpg);

      @include phones {
        flex: none;
        height: 50vh;
        background-size: cover;
        background-position: unset;
      }
    }

    &__third {
      background-image: url(../img/ezgif-1-5bab71eb5c.jpg);

      @include phones {
        flex: none;
        height: 70vh;
        background-size: cover;
        background-position: 50%;
      }
    }
  }

  &__team {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;

    @include phones {
      flex-direction: column;
    }
  }

  &__member {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include phones {
      margin-bottom: 10%;
    }

    &__avatar {
      width: 15rem;
      height: 15rem;
      border-radius: 50%;
      overflow: hidden;
    }

    &__name {
      font-weight: bold;
    }
  }
}
