@use "../variables/var" as *;
@use "../layout/media.scss" as *;
@use "../animations/animista";

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $secondaryColor;

  &__wrapper {
    display: flex;
    margin: 0 10%;

    @include phones {
      margin: 10% 5%;
    }
  }

  &__content {
    display: flex;
    align-items: center;

    @include phones {
      flex-direction: column;
    }
  }

  &__text {
    flex: 1;
    margin-right: 10%;

    @include phones {
      margin-right: 0%;
    }
  }

  &__title {
    font-size: 6rem;
    font-weight: 900;
    margin-bottom: 5%;
    line-height: 6rem;
    padding-right: 40%;

    @include fullHD {
      font-size: 4rem;
      line-height: 4rem;
    }

    @include phones {
      font-size: 4.8rem;
      line-height: 4.8rem;
      letter-spacing: -5px;
      padding-right: 0;
      text-align: left;
    }
  }

  &__paragraph {
    font-size: 2rem;
    margin-bottom: 1%;
    line-height: 1.16;
    letter-spacing: -0.01em;

    @include phones {
      font-weight: 700;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__image {
    height: 55rem;
    width: 41rem;
    display: flex;
    justify-content: center;
    align-self: center;

    @include fullHD {
      height: 40rem;
      width: 30rem;
    }

    @include phones {
      height: 25rem;
      width: 25rem;
    }
  }
}
