@use "../layout/media.scss" as *;

.brands {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;

    @include phones {
      font-size: 4.5rem;
      line-height: 4.5rem;
      letter-spacing: -5px;
      text-align: center;
      margin: 5%;
    }
  }

  &__par {
    font-size: 2rem;
    text-align: center;

    @include phones {
      font-weight: 700;
      letter-spacing: -0.01em;
      margin-bottom: 10%;
    }
  }

  &__img {
    width: 1920px;
    height: 567px;
    background: url(../img/all_brands_LOLS.png) no-repeat;
    animation: marquee 25s linear infinite;

    @include phones {
      width: 1185px;
      height: 350px;
      background: url(../img/all_brands_h-350.png);
      animation: marquee 15s linear infinite;
    }

    &::before {
      content: "";
      width: 1920px;
      height: 567px;
      position: absolute;
      left: 100%;
      background: url(../img/all_brands_LOLS.png) no-repeat;

      @include phones {
        width: 1185px;
        height: 350px;
        background: url(../img/all_brands_h-350.png);
      }
    }
    &::after {
      content: "";
      width: 1920px;
      height: 567px;
      position: absolute;
      left: 200%;
      background: url(../img/all_brands_LOLS.png) no-repeat;

      @include phones {
        width: 1185px;
        height: 350px;
        background: url(../img/all_brands_h-350.png);
      }
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
