@use "../variables/var" as *;
@use "../layout/media.scss" as *;

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $thirdColor;

  &__wrapper {
    display: flex;
    margin: 0 10%;
    align-items: center;

    @include phones {
      position: relative;
      margin: 10% 5%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10%;

    @include phones {
      margin-right: 0%;
    }
  }

  &__text {
    padding-right: 20%;
    margin-bottom: 10%;

    @include phones {
      padding-right: 0%;
      margin-bottom: 40%;
    }
  }

  &__title {
    font-size: 6rem;
    font-weight: 900;
    margin-bottom: 5%;
    line-height: 6rem;

    @include fullHD {
      font-size: 4rem;
      line-height: 4rem;
    }

    @include phones {
      font-size: 4.8rem;
      line-height: 4.8rem;
      letter-spacing: -5px;
      padding-right: 0;
      text-align: left;
    }
  }

  &__paragraph {
    font-size: 2rem;
    margin-bottom: 1%;
    line-height: 1.16;
    letter-spacing: -0.01em;

    @include phones {
      font-weight: 700;
    }

    &:last-of-type {
      margin-bottom: 3%;
    }
  }

  &__img {
    width: 40rem;
    height: 30rem;

    @include fullHD {
      width: 30rem;
      height: 23rem;
    }

    @include phones {
      width: 10rem;
      height: 12rem;
      position: absolute;
      bottom: 13%;
      left: 35%;
    }
  }

  &__images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &-img1 {
      width: 40rem;
      height: 24rem;

      @include fullHD {
        width: 30rem;
        height: 18rem;
      }

      @include phones {
        width: 13.5rem;
        height: 9rem;
      }
    }

    &-img2 {
      width: 40rem;
      height: 19rem;

      @include fullHD {
        width: 30rem;
        height: 14rem;
      }

      @include phones {
        width: 13.5rem;
        height: 7rem;
      }
    }
  }
}
