@use "../variables/var.scss" as *;
@use "../layout/media.scss" as *;

.contacts {
  display: flex;

  &__musthead {
    min-height: 65vh;
    background-image: url(../img/ezgif-1-5bab71eb5c.jpg);
    background-attachment: fixed;
    background-position-y: 20%;
    background-position-x: 40%;

    @include phones {
      background-size: 200%;
      background-position-x: 25%;
      background-position-y: 0%;
    }
  }

  &__content {
    min-height: 70vh;
  }

  &__block {
    display: flex;
    flex: 1;
    margin: 0 25%;

    @include phones {
      margin: 0 5%;
    }
  }

  &__title {
    font-size: 3rem;
    line-height: 4rem;
    color: $white;
    display: flex;
    align-items: flex-end;
    padding: 10% 0;
  }

  &__socials {
    padding-top: 10%;

    &__text {
      margin-bottom: 5%;
    }
  }
}
