@use "../variables/var.scss" as *;
@use "../layout/media.scss" as *;

.feedback {
  background-color: black;
  position: absolute;
  left: 0;
  width: 80%;
  transition: all 0.6s;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
  min-height: 100vh;

  @include phones {
    width: 100%;
  }

  &.active {
    left: -30%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    margin-left: 8%;
    padding-right: 40%;

    @include phones {
      padding-right: 8%;
    }
  }

  &__title {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 5%;
    line-height: 7rem;

    @include fullHD {
      font-size: 4rem;
      line-height: 5rem;
    }
  }

  &__text {
    font-size: 2rem;
    margin-bottom: 3%;

    @include fullHD {
      font-size: 1.6rem;
    }
  }

  &__btn {
    display: flex;
    align-items: stretch;
    justify-content: center;
    background-color: $beige;
    color: $baseFontColor;
    padding: 1rem 2rem;
    border-radius: 50px;
    font-size: 1.6rem;
    cursor: pointer;

    &:hover {
      .feedback__btn-icon {
        transform: translateX(20px);
      }

      .feedback__btn-inner::after {
        border-bottom: 2px solid rgba(34, 35, 34, 100%);
      }
    }

    &-inner {
      position: relative;
      display: inline-flex;
      padding-top: 3px;

      &::after {
        content: "";
        width: 100%;
        position: absolute;
        top: 80%;
        border-bottom: 2px solid rgba(34, 35, 34, 00%);
        transition: all 0.4s;
      }
    }

    &-icon {
      position: relative;
      width: 3rem;
      height: 3rem;
      transition: all 0.4s;
    }
  }
}
