@use "../layout/media.scss" as *;
@use "../variables/var.scss" as *;

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 2% 3%;
  font-size: 1.5rem;
  position: fixed;
  left: 0;
  width: 100vw;
  z-index: 1000;
  opacity: 1;
  transition: opacity 1s;

  @include phones {
    font-size: 2rem;
    padding: 2% 5%;
    background-color: $primaryColor;
  }

  &.hidden {
    left: 100%;
    opacity: 0;
  }
}
