.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 2%;
  font-size: 1.5rem;
  position: fixed;
  width: 100vw;
  z-index: 1000;


  &__title:hover {
    color: red;
    transition: 150ms ease-in-out;
  }
}


