.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 2%;
  font-size: 1.5rem;
  position: fixed;
  left: 0;
  width: 100vw;
  z-index: 1000;
  opacity: 1;
  transition: opacity 1s;

  &.hidden {
    left: 100%;
    opacity: 0;
  }
}
