@use "../variables/var" as *;
@use "../animations/animista";
@use "../layout/media.scss" as *;

.hero {
  display: flex;
  flex-direction: column;
  background-color: $primaryColor;

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;

    @include phones {
      margin-bottom: 30%;
    }
  }

  &__title {
    font-size: 10rem;
    text-transform: uppercase;
    line-height: 11rem;

    @include phones {
      font-size: 7rem;
      line-height: 7rem;
    }
  }

  &__text {
    font-size: 2rem;
    text-transform: uppercase;
    display: flex;

    @include phones {
      font-size: 2.5rem;
      letter-spacing: -0.01em;
      flex-direction: column;
    }

    &-mobile {
      display: flex;
      justify-content: center;
    }

    &-item1 {
      animation: fade-in 0s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s both;
      margin-right: 10px;

      @include phones {
        animation: fade-in 0s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s both;
      }
    }

    &-item2 {
      animation: fade-in 0s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s + 150ms
        both;
      margin-right: 10px;

      @include phones {
        animation: fade-in 0s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s + 150ms
          both;
      }
    }

    &-item3 {
      animation: fade-in 0s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s +
        (2 * 150ms) both;
      margin-right: 10px;

      @include phones {
        display: none;
        animation: fade-in 0s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s +
          (2 * 150ms) both;
      }
    }

    &-item4 {
      animation: fade-in 0s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s +
        (3 * 150ms) both;
      margin-right: 10px;

      @include phones {
        animation: fade-in 0s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s +
          (3 * 150ms) both;
      }
    }

    &-item5 {
      animation: fade-in 0s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s +
        (4 * 150ms) both;

      @include phones {
        animation: fade-in 0s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s +
          (4 * 150ms) both;
      }
    }
  }
}
