@use "../variables/var.scss" as *;
@use "../layout/media.scss" as *;

.hoverFeedback {
  position: absolute;
  width: 50%;
  left: 80%;
  background-color: $secondaryColor;
  transition: all 0.6s;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  @include phones {
    width: 100%;
    left: 100%;
  }

  &.active {
    left: 50%;

    @include phones {
      left: 0;
    }
  }

  &__content {
    margin: 0 8%;
  }

  &__title {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 5%;
    line-height: 7rem;

    @include fullHD {
      font-size: 4rem;
      line-height: 5rem;
    }

    @include phones {
      font-size: 3rem;
      line-height: 3rem;
    }
  }

  &__text {
    font-size: 1.6rem;
    margin-bottom: 3%;

    @include fullHD {
      font-size: 1rem;
    }

    @include phones {
      font-size: 1.5rem;
    }
  }

  &__btn {
    display: none;
    position: absolute;
    top: 9%;
    right: 0;

    @include phones {
      display: block;
    }

    &-svg {
      width: 60px;
      height: 60px;
    }
  }
}
