@use "../variables/var" as *;
@use "../layout/media.scss" as *;
@use "../animations/animista";

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $pink;

  &__content {
    display: flex;
    align-items: center;
    margin: 0 10%;
    padding: 10% 0;

    @include phones {
      flex-direction: column;
      margin: 0 5%;
    }
  }

  &__text {
    flex: 1;
    margin-right: 10%;

    @include phones {
      margin-right: 0%;
    }
  }

  &__title {
    font-size: 7rem;
    font-weight: 900;
    margin-bottom: 5%;
    line-height: 7rem;

    @include phones {
      font-size: 4.8rem;
      line-height: 4.8rem;
      letter-spacing: -5px;
      padding-right: 0;
      text-align: left;
    }
  }

  &__paragraph {
    font-size: 2rem;
    margin-bottom: 1%;
    line-height: 1.16;
    letter-spacing: -0.01em;

    @include phones {
      font-weight: 700;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__image {
    height: 55rem;
    width: 41rem;
    display: flex;
    justify-content: center;
    align-self: center;
    opacity: 0;

    &.slide-in-br {
      opacity: 1;
    }

    @include fullHD {
      height: 40rem;
      width: 30rem;
    }

    @include phones {
      height: 25rem;
      width: 25rem;
    }
  }

  &__blue {
    background-color: $blue;

    .info__content {
      flex-direction: row-reverse;

      @include phones {
        flex-direction: column;
      }
    }

    .info__text {
      margin-right: 0;
      margin-left: 10%;

      @include phones {
        margin-left: 0%;
      }
    }

    .info__image.slide-in-bl {
      opacity: 1;
    }
  }
}
