@use "../variables/var.scss" as *;
@use "../layout/media.scss" as *;

.menu {
  &__list {
    display: flex;

    @include phones {
      display: none;
    }
  }

  &__option {
    font-size: 1rem;
    text-transform: uppercase;
    margin-right: 15px;
    border-bottom: 2.5px solid rgba(34, 35, 34, 0);
    border-radius: 2px;
    transition: all 0.4s;

    &.active {
      color: rgba(34, 35, 34, 100%);
      border-bottom: 2.5px solid rgba(34, 35, 34, 100%);
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: rgba(34, 35, 34, 100%);
      border-bottom: 2.5px solid rgba(34, 35, 34, 100%);
    }
  }

  &--vertical {
    .menu__list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100vw;
      height: 100vh;
      background-color: $primaryColor;
    }

    .menu__option {
      font-size: 4.5rem;
      margin-right: 0;
      position: relative;
      width: 100%;
      text-align: center;

      &.open {
        &::after,
        &::before {
          left: 0;
          transition: left 1s ease-in-out 350ms;
        }
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 100%;
        width: 100%;
        height: 2px;
        background-color: $baseTextColor;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 2px;
        background-color: $baseTextColor;
      }
    }
  }
}
