@use "../layout/media.scss" as *;

.question {
  position: relative;
  margin-bottom: 2%;

  &__title {
    font-size: 4rem;
    padding-left: 7%;
    cursor: pointer;
    position: relative;

    @include phones {
      padding-left: 15%;
    }

    &-svg {
      width: 5rem;
      height: 5rem;
      position: absolute;
      left: 0;
      top: 16px;
      transition: all 0.4s;

      &.open {
        transform: rotate(90deg);
      }

      @include phones {
        top: 8px;
      }
    }
  }

  &__text {
    font-size: 2rem;
    text-align: justify;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s;

    &.open {
      max-height: 28rem;
    }

    @include fullHD {
      font-size: 1.6rem;
    }
  }
}
