@use "../layout/media.scss" as *;
@use "../variables/var" as *;

.questions {
  margin-bottom: 3%;
  &__item {
    margin-bottom: 1%;

    &:last-of-type {
      margin-bottom: 0;
    }

    @include phones {
      margin-bottom: 2%;
    }
  }
}

.question {
  display: flex;
  flex-direction: column;
  border: 2px solid $baseFontColor;
  border-radius: 25px;
  padding: 1% 3%;

  &.open {
    .question__title {
      &__text {
        color: rgb(66 137 162);
      }

      &__svg {
        transform: rotate(-90deg);
        fill: rgb(66 137 162);
      }
    }

    .question__content {
      transition: max-height 2s;
      max-height: 28rem;
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @include phones {
      margin-bottom: 2%;
    }

    &__text {
      font-size: 1.7rem;
      line-height: 2rem;
      letter-spacing: -0.05em;
      position: relative;
      flex: 1;
      transition: all 0.4s;

      @include phones {
        padding-left: 5%;
      }
    }

    &__svg {
      width: 4rem;
      height: 4rem;
      transform: rotate(90deg);
      transition: all 0.4s;

      @include phones {
        top: 8px;
      }
    }
  }

  &__content {
    font-size: 1.3rem;
    line-height: 1.6rem;
    letter-spacing: -0.03em;
    text-align: justify;
    width: 80%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s;

    @include phones {
      padding-left: 5%;
    }
  }
}
