.socials {
  display: flex;
}

.socials__item {
  padding-right: 10px;

  &:last-child {
    padding-right: 0;
  }

  &--inst {
    display: block;
    width: 36px;
    height: 36px;
    background: url(../img/socials_sprites.png) -66px -66px;
    position: relative;

    &:hover::after {
      transition: .4s;
      opacity: 1;
    }

    &::after {
      content: "";
      width: 36px;
      height: 36px;
      background: url(../img/socials_sprites.png) -10px -66px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }

  &--tel {
    display: block;
    width: 36px;
    height: 36px;
    background: url(../img/socials_sprites.png) -122px -66px;
    position: relative;

    &:hover::after {
      transition: .4s;
      opacity: 1;
    }

    &::after {
      content: "";
      width: 36px;
      height: 36px;
      background: url(../img/socials_sprites.png) -122px -10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }
}
