@use "../layout/media" as *;

@keyframes slide-in-br {
  0% {
    transform: translateY(1000px) translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-br-mobile {
  0% {
    transform: translateY(350px) translateX(350px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-bl {
  0% {
    transform: translateY(1000px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-bl-mobile {
  0% {
    transform: translateY(350px) translateX(-350px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

.slide-in-br {
  animation: slide-in-br 1s cubic-bezier(0.47, 0, 0.745, 0.715);

  @include phones {
    animation: slide-in-br-mobile 1s cubic-bezier(0.47, 0, 0.745, 0.715);
  }
}

.slide-in-bl {
  animation: slide-in-bl 1s cubic-bezier(0.47, 0, 0.745, 0.715);

  @include phones {
    animation: slide-in-bl-mobile 1s cubic-bezier(0.47, 0, 0.745, 0.715);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
