//page colors

$primaryColor: #e0d1be;
$secondaryColor: #cea5ad;
$thirdColor: #70aabc;

//font settings

$baseFontSize: 16px;
$baseTextColor: rgba(34, 35, 34, 80%);

//media

$fullHD: 1980px;
$tablets: 768px;
$phones: 480px;

// z-index

$header: 1000;
$fullscreenmenu: 100;
$section: 1;
